$primary: #1E7BD0;
$secondary: #199EAD;

$body-text: #333;

$border-color: lighten($body-text, 60%);
$separator-color: lighten($body-text, 69%);

$added-color: #55a532;
$removed-color: #bd2c00;

$link-color: #4078c0;
