$side-panel-bg: #F3F3F3;
$side-panel-highlighted-bg: #3377DC;
$side-panel-highlighted-text: #FFF;

$text-colour: #2F3942;
$text-colour-accent: #808080;

$border-colour: #A3A3A3;

$input-bg: #fff;
$input-focus-bg: #fff;

$btn-colour: #2291DA;

/* Normalize variables */
$base-font-size: 13px;
$base-line-height: 16px;
$base-unit: 'rem';
$base-font-family: system-ui, sans-serif;
