@import 'variables';
@import '../../node_modules/normalize-scss/sass/normalize';
@include normalize();

h1, h2, h3, h4, h5, h6 {
  color: $text-colour-accent;
}

html, body {
  font-size: $base-font-size;
  line-height: 1.4;
}

.help-block {
  color: $text-colour-accent;
  font-size: 0.9rem;
}

.hide {
  display: none;
}

.btn {
  padding: 0.75rem 1rem;
  background: $btn-colour;
  border: 1px solid darken($btn-colour, 5%);
  border-width: 0;
  color: #fff;
  border-radius: 3px;
  text-shadow: none;
  box-shadow: none;

  &.disabled {
    background: rgba($btn-colour, 0.5);
    &:hover {
      background: rgba($btn-colour, 0.5);
    }
    
    & + .btn {
      background: rgba($btn-colour, 0.5);
      border-color: rgba($btn-colour, 0.1);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover, &:focus {
    background: darken($btn-colour, 10%);
  }

  &:active {
    background: darken($btn-colour, 15%);
  }
}

.btn-options {
  &:before {
    content: '▼';
  }

  &.active {
    &:before {
      content: '▲';
    }
  }
}

.disabled {
  cursor: not-allowed;

  &:hover, &:focus {
    cursor: not-allowed;
  }
}

.actions {
  display: flex;
  justify-content: center;

  .btn {
    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-left-width: 1px;
      border-radius: 0 3px 3px 0;
    }
  }
}

form {
  label.checkbox {
    display: flex;
    margin-bottom: 1rem;

    [type=checkbox] {
      margin-top: 0.2rem;
      margin-right: 0.75rem;
      flex: 0 0 auto;
    }

    .title {
      font-weight: bold;
      color: $text-colour-accent;
      margin-bottom: 0.25rem;
    }
  }
}
