@import 'variables';

body {
  background: #F9F9F9;
}

.diff-inner {}

.diff-header {
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid #e1e4e8;
  background: lighten(#F9F9F9, 30%);

  > div {
    line-height: 1.5;
  }
  > div:first-child {
    padding-right: 0.5rem;
  }

  .diff-save {
    display: none;
  }

  .diff-mhtml-files, .diff-save {
    margin-left: auto;
    a {
      border: 1px solid #e1e4e8;
      padding: 1rem;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.diff-tables {
  padding: 2rem;
  background: #F9F9F9;
  overflow: hidden;
  overflow-x: scroll;
}

.diff-footer {
  padding: 0 2rem;
}

.diff-table {
  width: 100%;
  border-spacing: 0;
  font-size: 12px;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  margin-bottom: 2rem;

  thead {
    tr {
      background-color: #fafbfc;
    }

    th {
      border-bottom: 1px solid #e1e4e8;
      padding: 6px 9px;
      text-align: left;
      font-weight: normal;
    }
  }

  pre {
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
    margin: 0;
  }

  tr td {
    color: #ACAEAF;
    border: none;
    padding: 3px;

    &:last-child {
      color: #24292e;
    }
  }

  .hide {
    display: none;
  }

  .code-deletion {
    td {
      background-color: #ffdddd;

      &:last-child {
        background-color: #ffecec;
      }
    }
  }

  .code-addition {
    td {
      background-color: #dbffdb;

      &:last-child {
        background-color: #eaffea;
      }
    }
  }

  .blob-num {
    width: 1%;
    min-width: 26px;
    padding-right: 9px;
    padding-left: 9px;
    text-align: right;

    &::before {
      content: attr(data-line-number);
    }
  }
}

.code-addition + .code-context:not(.hide) + .code-context:not(.hide) td {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba($border-colour, 0.1);
}
