@import 'colours';

.vbox {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .flex-auto {
    flex: auto;
  }
}

.files-list-view, .files-details-view {
  height: 100vh;
  overflow: hidden;
}

.files-list-view {
  background: $side-panel-bg;
  border-right: 1px solid $border-colour;
  flex: 0 0 240px;
  min-height: 100vh;

  > .quick-functions {
    border-top: 1px solid $border-colour;
    margin-top: 3px;
    overflow: hidden;
  }

  > .files-title {
    text-transform: uppercase;
    color: $text-colour-accent;
    padding: 0.75rem 1rem;
  }

  > .file-list {
    height: calc(100vh - 6rem);
    overflow: scroll;
  }
}

.files-details-view {
  overflow: scroll;
}

.quick-functions {
  display: flex;

  > .filter {
    padding: 1rem;
    flex: auto;
    
    input[type="search"] {
      padding: 0.6rem;
      display: block;
      border-radius: 2px;
      background: $input-bg;
      border: 1px solid $border-colour;
      width: 100%;

      &:focus {
        background: $input-focus-bg;
      }
    }
  }

  > a  {
    padding: 0.6rem 1.2rem 0.2rem 1.2rem;
    text-align: center;
    text-decoration: none;
    opacity: 0.75;
    font-size: 1rem;
    filter: grayscale(100%);

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    &.disabled {
      opacity: 0.5;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.panel-link {
  padding: 0.5rem 1rem;
  display: flex;
  /*align-items: center;*/

  > .file-overview {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 3rem;
  }

  .action {
    float: right;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: rgba($side-panel-highlighted-bg, 0.5);
    color: $side-panel-highlighted-text;

    .action {
      color: $side-panel-highlighted-text;
    }
  }

  &.active {
    background: $side-panel-highlighted-bg;
    color: $side-panel-highlighted-text;

    .action {
      color: $side-panel-highlighted-text;
    }
  }
}

.files-details-view {
  > div {
    overflow: scroll;
  }

  .diff-header .diff-save {
    display: block;
  }

  .diff-mhtml-files {
    display: none;
  }
}

.get-started {
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  max-width: 50rem;
  margin: 0 auto;

  .logo {
    margin-bottom: 0rem;
  }

  .actions {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.help-block {
  color: $text-colour-accent;
  font-size: 0.9rem;
}

.hidden {
  display: none;
}

.btn {
  padding: 0.75rem 1rem;
  background: $btn-colour;
  border: 1px solid darken($btn-colour, 10%);
  border: 0;
  color: #fff;
  border-radius: 3px;

  &.disabled {
    background: rgba($btn-colour, 0.5);
    &:hover {
      background: rgba($btn-colour, 0.5);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover, &:focus {
    background: darken($btn-colour, 10%);
  }

  &:active {
    background: darken($btn-colour, 15%);
  }
}

.disabled {
  cursor: not-allowed;

  &:hover, &:focus {
    cursor: not-allowed;
  }
}

.actions {
  display: flex;
  justify-content: center;

  .btn {
    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}
