$side-panel-bg: #F3F3F3;
$side-panel-highlighted-bg: #3377DC;
$side-panel-highlighted-text: #FFF;

$text-colour: #2F3942;
$text-colour-accent: #808080;

$border-colour: #A3A3A3;

$input-bg: #fff;
$input-focus-bg: #fff;

h1, h3, h4, h5, h6 {
  color: $text-colour-accent;
}

body {
  margin: 0;
  color: $text-colour;
  font-family: system-ui, sans-serif;
  font-size: 12px;
}

.vbox {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .flex-auto {
    flex: auto;
  }
}

@import "diff";

.files-list-view, .files-details-view {
  height: 100vh;
  overflow: hidden;
}

.files-list-view {
  background: $side-panel-bg;
  border-right: 1px solid $border-colour;
  flex: 0 0 240px;
  min-height: 100vh;

  > .quick-functions {
    border-bottom: 1px solid $border-colour;
    margin-bottom: 3px;
    overflow: hidden;
  }

  > .files-title {
    text-transform: uppercase;
    color: $text-colour-accent;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  > .file-list {
    max-height: calc(100vh - 5.5rem);
    overflow: scroll;
  }
}

.files-details-view {
  overflow: scroll;
}

.quick-functions {
  display: flex;

  > .filter {
    padding: 0.5rem;
    flex: auto;
    
    input[type="search"] {
      padding: 0.3rem;
      display: block;
      border-radius: 2px;
      background: $input-bg;
      border: 1px solid $border-colour;
      width: 100%;

      &:focus {
        background: $input-focus-bg;
      }
    }
  }

  > a  {
    padding: 0.5rem 0.25rem;
    text-align: center;
    text-decoration: none;
    opacity: 0.75;
    font-size: 0.8rem;
    filter: grayscale(100%);

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  > *:first-child {
    padding-left: 0.75rem;
  }
  > *:last-child {
    padding-right: 0.75rem;
  }
}

.panel-link {
  padding: 0.75rem 0.5rem;

  .file-list & {
    padding: 0.5rem 1rem;
  }


  .action {
    float: right;
  }

  &:hover {
    cursor: pointer;
  }

  &.active, &:active {
    background: $side-panel-highlighted-bg;
    color: $side-panel-highlighted-text;

    .action {
      color: $side-panel-highlighted-text;
    }
  }
}

.files-details-view {
  > div {
    padding: 1rem;
    overflow: scroll;
  }
}

.get-started {
  text-align: center;
  padding-top: 4rem;
}

.btn {
  padding: 0.5rem;
}
