@import "colours";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $body-text;
  background-color: #fff;

  width: 400px;
  padding: 0 0 1rem 0;
}

header {
  overflow: hidden;
}

h1 {
  line-height: 1;
  margin: 0.5rem 0 0rem 0;
}

.logo {
  margin-right: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $separator-color;
  margin: 1em 0;
  padding: 0; 
}

.added {
  color: $added-color;
}

.removed {
  color: $removed-color;
}

.separator {
  padding: 0;
  width: 1px;
  height: 1em;
  margin: 0 0.6em;
  border-left: 1px solid $separator-color;
}

.btn {
  padding: 6px;
  border: 1px solid $border-color;
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
}

.btn-save {
  color: $border-color;
  &:hover {
    .save-copy {
      text-decoration: underline;
    }
  }
}

.btn-view-more {
  color: $link-color;
}

.current-summary {
  min-height: 50px;
  overflow: hidden;
  
  .save-copy {
    color: $link-color;
  }

  .some-changes, .no-changes {
    display: none;
  }
}

.snapshots {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  min-height: 237px;

  .snapshot {
    flex: 0 0 calc(50% - 1rem);
    margin-right: 1rem;
  }
}

.snapshot {
  .snapshot__preview {
    width: 100%;
    height: 125px;
    border-radius: 3px;
    background-image: url("#");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
  }

  .snapshot__actions {
    list-style: none;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      padding: 0 0.5rem;
    }

    .remove {
      float: right;
    }
  }
}
