body {
  width: 400px;

  &.diffs-loaded {
    .loading {
      display: none;
    }

    .diffs {
      display: block
    }
  }
}

.clickables {
  border-bottom: 1px solid #eee;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  li {
    float: left;
    width: 50%;
  }
  a {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: block;
    padding: 0.3rem 0 0.6rem 0;
  }
}

.loading {
  text-align: center;

  .loading-status {
  }
}

.diffs {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; 
  display: none;

  > p {
    text-align: center;
  }

  code {
  }
}
